.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-weight: 700;
  color: #607d8b;
  font-size: 14px;
}

.form input {
  height: 35px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
  margin-top: 5px;
  padding-left: 10px;
  color: #607d8b;
}

.form input::placeholder {
  color: #90a4ae;
}

.button {
  height: 35px;
  width: 100%;
  margin-top: 30px;
  border: none;
  background: #3f51b5;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background: #4a5ed2;
}

.error {
  background: rgb(247, 64, 64);
  padding: 8px;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  font-size: 14px;
}
